<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Budget</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js" defer></script>
    <script
      src="https://kit.fontawesome.com/6d1964bbc6.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="app">
      <div class="columns container">
        <div class="column sidebar"></div>

        <div class="column">
          <form @submit.prevent="addExpense">
            <label for="priceInput">Price:</label>
            <input
              type="number"
              id="priceInput"
              v-model.number="newExpense.price"
            />

            <label for="dateInput">Date:</label>
            <input type="date" id="dateInput" v-model="newExpense.date" />

            <select id="categoryInput" v-model="newExpense.category">
              <option value="test1">Test1</option>
              <option value="test2">Test2</option>
              <option value="test3">Test3</option>
              <option value="test4">Test4</option>
            </select>

            <label for="descriptionInput"></label>
            <textarea
              id="descriptionInput"
              cols="30"
              rows="10"
              v-model="newExpense.desc"
            ></textarea>

            <input type="submit" value="Submit" />
          </form>

          <ul>
            <li v-for="(exp, index) in expenses" :key="index">
              {{exp.price}}, {{exp.date}} | {{exp.category}} | {{exp.desc}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
