<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Budget</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js" defer></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script
      src="https://kit.fontawesome.com/6d1964bbc6.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="app">
      <h1>Budget App</h1>
      <div class="columns container">
        <div class="column">
          <form @submit.prevent="addExpense">
            <div class="input">
              <label for="priceInput">SEK:</label>
              <input
                required
                type="number"
                min="0"
                step="any"
                id="priceInput"
                v-model.number="newExpense.price"
              />
            </div>
            <div class="input">
              <label for="dateInput">Datum:</label>
              <input
                required
                type="date"
                id="dateInput"
                v-model="newExpense.date"
                style="
                  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
                "
              />
            </div>
            <div>
              <select
                required
                id="categoryInput"
                v-model="newExpense.category"
                :class="{ 'color-grey': newExpense.category === '' }"
                style="
                  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
                  text-align: center;
                "
              >
                <option value="" style="color: grey">Kategori</option>
                <option
                  v-for="(category, index) in categories"
                  :key="index"
                  :value="category"
                  style="color: #1c3334"
                >
                  {{category}}
                </option>
              </select>
            </div>
            <div>
              <textarea
                id="descriptionInput"
                cols="30"
                rows="2"
                v-model="newExpense.desc"
                placeholder="Beskrivning"
                style="
                  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
                "
              ></textarea>
            </div>
            <div id="add-button-container">
              <button
                type="submit"
                class="fa-solid fa-plus add-button"
              ></button>
            </div>
          </form>
          <result-table
            class="result-table"
            :categories="categories"
            :all-expenses="expenses"
            :remove="removeItem"
            :sort-cat="sortOnCategory"
            :sort-price="sortOnPrice"
            :sort-date="sortOnDate"
          ></result-table>
        </div>
      </div>
      <!-- <div class="pie-chart-container">
      <pie-chart :expenses="expenses"></pie-chart>
    </div> -->
    </div>
  </body>
</html>
