* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #1c3334;
  color: #a0d3d4;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 20px;
}

::placeholder {
  position: fixed;
  top: 25%;
  left: 33%;
  font-style: italic;
}

textarea {
  height: 40px;
  padding: 5px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #2f4454;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.remove-cell {
  width: 41px;
}

a {
  text-decoration: none;
  color: #da7b93;
}

a:hover {
  color: grey;
}

h1 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 4rem;
  font-weight: normal;
  color: #da7b93;
}

form {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#add-button-container {
  display: flex;
}

label {
  margin-right: 15px;
  font-weight: bold;
  align-self: center;
  font-size: 18px;
}

input {
  padding: 10px;
  outline: none;
}

input,
select,
textarea {
  background-color: #a0d3d4;
  border-radius: 4px;
  border: 1px solid #a0d3d4;
  color: #1c3334;
}

.color-grey {
  color: grey;
}

p {
  text-align: center;
}

textarea:focus,
input:focus {
  outline: none;
}

#categoryInput,
#priceInput {
  height: 40px;
}

.filtering {
  display: flex;
  justify-content: space-evenly;
}

.selectLabel {
  margin-left: 0px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #0a920e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

button[type="submit"]:hover {
  background-color: rgb(122, 153, 122);
}

.custom-button {
  background-color: #da7b93;
  color: #2e151b;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #2e151b;
  color: #da7b93;
}

.result-table {
  border: 1px solid #638383;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  border-top: 1px solid #638383;
  border-bottom: 1px solid #638383;
  padding: 10px;
  text-align: left;
  font-size: 18px;
  background-color: #1c3334;
}

tbody td {
  padding: 10px;
}

tr:nth-last-child(2) {
  border-bottom: 1px solid #638383;
}

.info:hover {
  background-color: #a0d3d4;
  color: #1c3334;
}

.total {
  padding: 10px;
  color: #a0d3d4;
  font-size: 18px;
}

#selectCategory,
#selectMonth {
  margin: 15px;
  padding: 5px;
}

#categoryInput {
  margin-left: auto;
}

select,
#descriptionInput {
}
